@using Plastic.ViewModels
@model DoctorViewModel

                <!-- MODAL Pop Up-->
@* <div class="container py-7">
    <div class="row mt-5">
        <div class="col-sm-3 col-6 mx-auto">
            <div class="modal fade" id="createDoctorModal" tabindex="-1" aria-labelledby="createDoctorModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Yeni Doktor Ekle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <section>
                                <div class="container py-4">
                                    <div class="row">
                                        <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">


                                            <form asp-area="" asp-controller="Doctor" asp-action="Create" enctype="multipart/form-data" method="post" id="createDoctorModalForm" role="form" autocomplete="off">
                                                <input type="hidden" asp-for=" Doctor.ClinicId" value=" Doctor.ClinicId" />  @* Clinic.Id *@
                                     @*           <input type="hidden" asp-for=" Doctor.FranchiseId" value=" Doctor.FranchiseId" />
                                                <div class="card-body">
                                                    <div class="row">

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Adı" class="form-control border-start-0" asp-for=" Doctor.FirstName">
                                                                <span asp-validation-for="Doctor.FirstName" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Soyadı" class="form-control border-start-0" asp-for=" Doctor.LastName">
                                                                <span asp-validation-for=" Doctor.LastName" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Ünvan" class="form-control border-start-0" asp-for=" Doctor.Title">
                                                                <span asp-validation-for=" Doctor.Title" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Telefon" class="form-control border-start-0" asp-for=" Doctor.Phone">
                                                                <span asp-validation-for=" Doctor.Phone" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Ülke" class="form-control border-start-0" asp-for=" Doctor.Country">
                                                                <span asp-validation-for=" Doctor.Country" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Sertifika No" class="form-control border-start-0" asp-for=" Doctor.CertificationNumber">
                                                                <span asp-validation-for=" Doctor.CertificationNumber" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="E-Mail" class="form-control border-start-0" asp-for=" Doctor.Email">
                                                                <span asp-validation-for=" Doctor.Email" class="text- danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input type="text" placeholder="Şifre" class="form-control border-start-0" asp-for=" Doctor.Password">
                                                                <span asp-validation-for=" Doctor.Password" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <label asp-for=" Doctor.Gender" class="form-label">Cinsiyet</label>
                                                            <div class="input-group input-group-dynamic">
                                                                <label for="gender_female" style="margin-right:5px; margin-bottom:4px">Kadın</label>

                                                                <input type="radio" id="gender_female" asp-for=" Doctor.Gender" style="margin-right:5px;" value="Female" />

                                                                <label for="gender_male" style="margin-right:5px; margin-bottom:4px">Erkek</label>

                                                                <input type="radio" id="gender_male" asp-for=" Doctor.Gender" value="Male" />

                                                            </div>
                                                        </div>

                                                        <div class="col-md-6 ps-2">
                                                            <div class="input-group input-group-dynamic">
                                                                <input asp-for=" Image" type="file" multiple class="form-control border-start-0">
                                                                <span asp-validation-for=" Image" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn bg-gradient-dark mb-0" data-bs-dismiss="modal">Kapat</button>
                            <button type="submit" id="createDoctorModalBtn" name="action" value="doctorCreateSubmit" class="btn bg-gradient-primary mb-0">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 *@

<div class="container py-7">
    <div class="row mt-5">
        <div class="col-sm-3 col-6 mx-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Your modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Society has put up so many boundaries, so many limitations on what’s right and wrong that it’s almost impossible to get a pure thought out.
                            <br><br>
                            It’s like a little kid, a little boy, looking at colors, and no one told him what colors are good, before somebody tells you you shouldn’t like pink because that’s for girls, or you’d instantly become a gay two-year-old.
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn bg-gradient-dark mb-0" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-gradient-primary mb-0">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div class="row">
    <div class="col-12">
        <div class="card border-top border-0 border-4 border-dark">
            <div class="card-body p-5">
                <div class="card-title text-center">
                    <i class="bx bxs-user-circle text-dark font-50"></i>
                    <h5 class="mb-5 mt-2 text-dark">Eğitmen Düzenle</h5>
                </div>
                <hr>
                @*asp-controller=The name of the controller,  asp-action=The name of the action method,  asp-area=The name of the area,
                asp-route-{value}=A single URL route value. For example, asp-route-id="1234"*@
           @*     <form class="row g-3" method="post">
                    <input type="hidden" asp-for="Doctor.Id" />
                    <div class="col-12">
                        <label asp-for="Doctor.FirstName" class="form-label">Adı Soyadı</label>
                        <input type="text" class="form-control border-start-0" asp-for="Doctor.FirstName" placeholder="Adı soyadı">
                        <span class="text-danger" asp-validation-for="Doctor.FirstName"></span>
                    </div>
                    <div class="col-12">
                        <label asp-for="Doctor.LastName" class="form-label">Email</label>
                        <input type="text" class="form-control border-start-0" asp-for="Doctor.LastName" placeholder="Email">
                        <span class="text-danger" asp-validation-for="Doctor.LastName"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="Doctor.Status" class="form-label">Durumu</label>
                        <select class="form-select mb-3" asp-for="Doctor.Status">
                            <option value="true">Aktif</option>
                            <option value="false">Pasif</option>
                        </select>
                    </div>

                    <div class="col-12">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn-lg px-5"><i class="bx bxs-lock-open"></i>Kaydet</button>
                        </div>
                    </div>
                    <hr>


                </form>
            </div>
        </div>
    </div>

</div>
 *@


@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        //modal pop up da doctor create formunun butonunu başka yerde kullanmayı sağlar
        $(document).ready(function () {
            $("#createDoctorModalBtn").click(function () {
                $("#createDoctorModalForm").submit();
            });
        });
    </script>
}
