@model IEnumerable<Operation>

<section class="pt-7 pb-0">
    <div class="container">
        <h2>Operasyonlarımız</h2>
         @foreach (var item in Model)
                {
        <div class="row">
                    <li>@item.Title</li>
        </div>
        }
    </div>
</section>
