@model IEnumerable<OperationDoctor>

<section class="pt-7 pb-0">
    <div class="container">
        <h2>Operasyonlarımız</h2>
         @foreach (var item in Model)
                {
        <div class="row">
                    <li>@item.Operation.Title</li>
                    <li>@item.Doctor.Title</li>
                    <p>işlem</p>
        </div>
        }
    </div>
</section>
